@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 84.5%;
    max-width: 1260px;
}

.button__container {
    display: flex;
    align-items: center;
    gap: 18px;
}

/* Header */

.header__container {
    padding: 32px 0;
}

.logo {
    cursor: pointer;
}

.logo img {
    width: 100%;
}

.header__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.header__link {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    margin-right: 26px;
}

.header__link--home {
    color: #FF5634;
}

.header__item--cart a {
    padding: 0 10px 0 15px;
}



.header__register button {
    padding: 20px 25px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
}

.btn--download {
    cursor: pointer;
    padding: 20px 25px;
    font-size: 16px;
    border-radius: 12px;
    background-color: transparent;
    border: 1px solid #EDEDED;
}

.header__register--register {
    background-color: #FF5634;
    color: white;
    border: none;
}

.header__burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.header__burger span {
    height: 3px;
    width: 25px;
    background-color: #000;
    border-radius: 2px;
}

/* Service */

.service__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.service__content {
    width: 60%;
    padding: 109px 101px;
}

.service__header {
    font-size: 18px;
    color: #FF5634;
    line-height: 20px;
    letter-spacing: 1.08px;
    margin: 62px 0 28px 0;
}

.service__title {
    font-size: 62px;
    line-height: 71.98px;
}

.service__description {
    color: #656565;
    margin: 16px 0 33px 0;
}

.service__description p {
    font-size: 12px;
    line-height: 30px;
}

.facili {
    float: right;
    font-size: 18px;
}

.register--restaurant {
    color: white;
    background-color: #FF5634;
    border: 1px solid #FF5634;
    border-radius: 16px;
    padding: 20px 50px;
    cursor: pointer;
}

.service__register {
    font-size: 16px;
}

.service__hr {
    margin: 60px 0;
    color: #CACACA;
}

.service__numbers {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.numbers__item h1 {
    font-size: 56px;
}

.numbers__item span {
    color: #FF5634;
}

.second--plus {
    margin-left: 10px;
}

.numbers__item p {
    color: #656565;
    font-size: 18px;
    margin-top: 5px;
}

.service__middle--image {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.service__image img {
    width: 100%;
}

/* Restaurant */
.restaurant__container {
    text-align: center;
}

.restaurant__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0 140px 0;
    gap: 60px;
}

.restaurant__image img {
    width: 100%;
}

.restaurant__subtitle {
    color: #656565;
    font-size: 20px;
    margin-top: 140px;
}

/* System */

.system__container {
    flex-direction: column;
    text-align: center;
    justify-content: center;
}


.system__content {
    display: flex;
    gap: 44px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.system__header {
    margin: 200px 0 76px 0;
    max-width: 700px;
}

.system__subtitle {
    color: #FF5634;
    font-size: 18px;
}

.system__title {
    font-size: 35px;
    margin: 7px 0 22px 0;
}

.system__description {
    font-size: 12px;
    color: #656565;
    margin-top: 12px;
}

.quis {
    font-size: 18px;
    float: right;
    margin-right: 120px;
}

.system__item {
    max-width: 350px;
}

.system__item img {
    width: 60%;
}

.system__item--title {
    max-width: 324px;
    font-size: 28px;
    line-height: 40.01px;
}

.system__item--description {
    position: relative;
    font-size: 18px;
    color: #656565;
    line-height: 30.01px;
}

.sit {
    position: absolute;
    top: 53px;
}

.system__button {
    margin: 53px 0 200px 0;
}

.system__register {
    font-size: 18px;
    line-height: 20px;
}

.hr {
    width: 100%;
    margin-bottom: 200px;
}

/* Learn */

.learn__container {
    flex-direction: column;
    position: relative;
}

.learn__content {
    display: flex;
    gap: 58px;
    justify-content: space-between;
    align-items: center;
}

.learn__main {
    max-width: 597px;
}

.learn__image--middle {
    position: absolute;
    right: 315px;
    top: 50px;
}

.learn__image {
    z-index: 999;
}

.learn__title {
    font-size: 30px;
    line-height: 53.99px;
}

.learn__description {
    position: relative;
    margin: 16px 56px 32px 0;
    padding-right: 40px;
    color: #656565;
}

.learn__description p {
    font-size: 12px;
    line-height: 30.01px;
}

.learn__description span {
    position: absolute;
    right: 130px;
    top: 25px;
    font-size: 18px;
}

.learn__icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.learn__item {
    max-width: 275px;
}

.learn__item h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 24px 0 14px 0;
}

.learn__item p {
    color: #656565;
    font-size: 14px;
}

.learn__item span {
    color: #656565;
    font-size: 18px;
    float: right;
    margin-right: 30px;
}

.learn__button {
    margin: 80px 0 200px 0;
}

.learn__register {
    font-size: 18px;
}

/* Burger */

.burger__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
}

.burger__images {
    display: flex;
    gap: 30px;
}

.burger__content {
    width: 60%;
}

.burger__images img {
    width: 47.6%;
}

.burger__main {
    max-width: 581px;
    margin: 269px 72px 269px 109px;
    color: white;
}

.burger__title {
    font-size: 56px;
}

.burger__description {
    position: relative;
    margin-top: 15px;
}

.burger__description p {
    font-size: 12px;
    line-height: 30px;
}

.burger__description span {
    position: absolute;
    right: 90px;
    top: 25px;
    font-size: 18px;
}

.burger__button {
    padding: 24px 40px;
    font-size: 18px;
    border: 1px solid #FF5634;
    border-radius: 16px;
    background-color: #FF5634;
    color: white;
    margin-top: 27px;
}

/* Features */

.features__container {
    width: 84.5%;
    margin: 200px auto;
    max-width: 1260px;
}

.features__header {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.features__subtitle {
    color: #FF5634;
    letter-spacing: 1.08px;
    font-size: 18px;
}

.features__title {
    font-size: 44px;
    margin: 7px 30px 22px 30px;
}

.features__description {
    position: relative;
    color: #656565;
}

.features__description p {
    font-size: 12px;
}

.features__list {
    margin: 56px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.features__item {
    max-width: 350px;
    text-align: center;
}

.features__item--title {
    font-size: 28px;
    line-height: 40px;
    margin: 24px 0 20px 0;
}

.features__item--text {
    color: #656565;
    font-size: 18px;
    line-height: 30px;
}

.features__button {
    justify-content: center;
    margin-top: 60px;
}

/* Management */

.management__container {
    display: flex;
    margin-top: 200px;
}

.management__images {
    background-color: #FF5634;
    /* Temporary */
    padding: 330px 280px;
    /*  */
    border-radius: 32px;
    position: relative;
}

.management__image--one {
    position: absolute;
    top: 50px;
    left: 40px;
}

.management__image--two {
    z-index: 999;
    position: absolute;
    bottom: 110px;
    right: 20px;
}

.management__image--one img,
.management__image--two img {
    width: 100%;
}

.management__content {
    max-width: 589px;
    margin-left: 55px;
}

.management__title {
    font-size: 44px;
    line-height: 53px;
}

.management__description {
    position: relative;
    color: #656565;
    font-size: 18px;
    margin: 10px 0 32px 0;
}

.management__description p {
    line-height: 30px;
}

.management__description span {
    position: absolute;
    right: 180px;
    top: 55px;
}

.management__item {
    display: flex;
    align-items: start;
    margin: 32px 0;
}

.management__item--title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 14px;
}

.management__item--text {
    font-size: 13px;
    color: #656565;
    line-height: 30px;
    max-width: 456px;
}

.management__item--content {
    margin: 0 0 0 24px;
}

/* Customers */

.customer__container {
    display: flex;
    margin-top: 150px;
}

.customer__images {
    background-color: #FF5634;
    /* Temporary */
    padding: 330px 280px;
    /*  */
    border-radius: 32px;
    position: relative;
}

.customer__image--one {
    position: absolute;
    top: 50px;
    right: 40px;
}

.customer__image--two {
    z-index: 999;
    position: absolute;
    bottom: 110px;
    left: 20px;
}

.customer__image--one img,
.customer__image--two img {
    width: 100%;
}

.customer__content {
    max-width: 589px;
    margin-right: 55px;
}

.customer__title {
    font-size: 44px;
    line-height: 53px;
}

.customer__description {
    position: relative;
    color: #656565;
    font-size: 18px;
    margin: 10px 0 32px 0;
}

.customer__description p {
    line-height: 30px;
}

.customer__description span {
    position: absolute;
    right: 180px;
    top: 55px;
}

.customer__item {
    display: flex;
    align-items: start;
    margin: 32px 0;
}

.customer__item--title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 14px;
}

.customer__item--text {
    font-size: 13px;
    color: #656565;
    line-height: 30px;
    max-width: 456px;
}

.customer__item--content {
    margin: 0 0 0 24px;
}

/* Clients */

.clients {
    background-color: #FAFAFA;
}

.clients__container {
    flex-direction: column;
    margin-top: 200px;
    padding-top: 100px;
}

.clients__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.clients__main {
    max-width: 490px;
}

.clients__title {
    font-size: 44px;
    line-height: 53px;
}

.clients__title span {
    margin-right: 25px;
}

.clients__description {
    color: #656565;
    line-height: 30px;
    position: relative;
}

.clients__description p {
    font-size: 12px
}

.clients__description span {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 18px;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 30px auto 150px;
}

.clients__item {
    max-width: 366.64px;
    border: 1px solid #EDEDED;
    border-radius: 24px;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 2px 12px 0px #10101014;
}

.clients__item--header {
    display: flex;
    justify-content: space-between;
}

.clients__info {
    display: flex;
    gap: 10px;
}

.clients__name {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 6px;
}

.clients__place {
    font-size: 16px;
    color: #FF5634;
}

.clients__item--description {
    position: relative;
    margin-top: 30px;
    line-height: 30px;
    color: #656565;
    font-size: 18px;
}


.clients__item--description span {
    position: absolute;
    right: 30px;
    top: 55px;
}

/* Attracting */

.attracting__container {
    margin-top: 50px;
    background-color: #000;
    width: 100%;
    margin: 50px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 50px;
}

.attracting__content {
    color: white;
    max-width: 582px;
    padding: 179px 27px 186px 109px;
}

.attracting__title {
    font-size: 50px;
}

.attracting__title span {
    margin-left: 20px;
}

.attracting__description {
    font-size: 12px;
    line-height: 30px;
    margin: 26px 0 33px 0;
}

.attracting__button {
    font-size: 18px;
}

.attracting__images {
    width: 50%;
}

.attracting__images img {
    width: 100%;
}

.attracting__image--two,
.attracting__image--one {
    position: absolute;
    z-index: 999;
    bottom: 30px;
}

.attracting__image--one {
    right: 10px;
    bottom: 0;
}

/* Card */
.card {
    width: 84.5%;
    margin: 0 auto;
}

.card__container {
    width: 100%;
    margin: 70px auto 80px;
    justify-content: space-between;
}

.card__main {
    max-width: 450px;
}

.card__text {
    color: #656565;
    font-size: 12px;
    margin-top: 30px;
    line-height: 30px;
}

.card__button button {
    color: white;
    background-color: #FF5634;
    border: 1px solid #FF5634;
    border-radius: 14px;
    border: none;
}

.card__ios {
    padding: 20px 35px;
}

.card__android {
    padding: 20px 45px;
}

/* Menu */

.container {
    align-items: flex-start;
}

.menu__column {
    margin: 80px 0;

}

.menu__title {
    font-size: 22px;
    margin-bottom: 30px
}

.menu__nav {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.menu__list {
    list-style: none;
}

.menu__list li {
    margin: 15px 0;
    color: #656565;
}

.menu__card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 498px;
    gap: 20px;
    margin: 20px 0;
    font-size: 18px;
}

.menu__column p {
    font-size: 18px;
}

.menu__place {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.menu__hr {
    width: 90%;
    margin: 0 auto;
}

/* Footer */

.footer__container {
    justify-content: center;
    color: #656565;
    font-size: 18px;
    margin: 30px auto;
}

.footer__container span {
    color: #FF5634;
    margin: 0 15px;
}

@media (min-width:1475px) {
    .learn__image--middle {
        display: none;
    }
}

@media (max-width:1300px) {
    .service__middle--image {
        display: none;
    }

    .learn__image--middle {
        display: none;
    }

    .burger__container {
        flex-direction: column;
    }

    .attracting__container {
        flex-direction: column;
    }

    .attracting__image--two,
    .attracting__image--one {
        position: relative;
    }
}

@media (max-width: 1024px) {
    .container {
        align-items: center;
    }

    .header__menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: white;
        text-align: right;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .header__menu.show {
        display: flex;
        z-index: 999;
    }

    .header__burger {
        display: flex;
    }

    .header__item {
        margin: 5px 0;
    }

    .button__container {
        flex-direction: column;
    }

    /* Service */

    .service__container {
        flex-direction: column;
        justify-content: center;
    }

    .service__content {
        padding: 10px;
        width: 100%;
    }

    .service__image {
        width: 100%;
        margin: 0 auto;
    }

    .service__header {
        font-size: 14px;
    }

    .service__title {
        font-size: 25px;
    }

    .service__description span {
        font-size: 12px;
    }

    .button__container button {
        font-size: 12px;
    }

    .service__numbers h1 {
        font-size: 25px;
    }

    .numbers__item p {
        font-size: 12px;
    }

    /* Restaurant */
    .restaurant__content {
        margin: 40px 0;
    }

    .restaurant__subtitle {
        margin: 20px 0;
    }

    /* System */

    .system__title {
        font-size: 20px;
    }

    .system__header {
        margin: 30px 0;
    }

    .system__button {
        margin: 50px 0;
    }

    .hr {
        margin: 10px 0;
    }

    /* learn */
    .learn__content {
        flex-direction: column;
        justify-content: center;
    }

    .learn__main {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .learn__title {
        font-size: 20px;
    }

    .learn__icons {
        justify-content: center;
    }

    .learn__image img {
        width: 100%;
    }

    .learn__description {
        padding: 0;
        margin: 20px auto;
    }

    .learn__button {
        margin: 20px auto;
    }

    /* Burger */

    .burger__images {
        gap: 0;
        justify-content: center;
    }

    .burger__content {
        width: 100%;
    }

    .burger__main {
        margin: 50px auto;
        text-align: center;
    }

    .burger__title {
        font-size: 25px;
    }

    .burger__description p {
        font-size: 12px;
    }

    .burger__description span {
        font-size: 12px;
    }

    .burger__button {
        font-size: 12px;
    }

    .burger__images {
        width: 100%;
        align-items: center;
    }

    /* Features */

    .features__container {
        margin: 20px auto;
    }

    .features__title {
        font-size: 25px;
    }

    .features__item--text {
        font-size: 12px;
    }

    .quis {
        font-size: 12px;
    }

    /* Management */

    .management__container {
        margin-top: 20px;
        flex-direction: column;
    }

    .management__content {
        text-align: center;
        margin: 50px auto;
    }

    .management__title {
        font-size: 25px;
    }

    /* !!! */
    .management__images {
        padding: 259px 160px;
    }

    .management__image--one {
        width: 80%;
    }

    .management__image--two {
        width: 67%;
    }

    /*  */

    /* Customer */
    .customer__container {
        margin-top: 20px;
        flex-direction: column;
    }

    .customer__content {
        text-align: center;
        margin: 50px auto;
    }

    .customer__title {
        font-size: 25px;
    }

    /* !!! */
    .customer__images {
        padding: 259px 160px;
    }

    .customer__image--one {
        width: 80%;
    }

    .customer__image--two {
        width: 67%;
    }

    /*  */

    /* Clients */

    .clients__container {
        margin-top: 20px;
    }

    .clients__title {
        font-size: 25px;
    }

    .clients__description span {
        font-size: 12px;
    }

    .clients__item--description {
        font-size: 14px;
    }

    .clients__list {
        width: 100%;
        margin: 10px auto;
        justify-content: center;
    }

    .clients__header {
        flex-direction: column;
        align-items: center;
    }

    /* Attracting */

    .attracting__content {
        text-align: center;
        padding: 20px;
        width: 100%;
    }

    .attracting__title {
        font-size: 25px;
    }

    .attracting__button {
        font-size: 14px;
    }

    /* Card */

    .card__container {
        flex-direction: column;
    }

    /* Menu */

    .menu__container {
        flex-direction: column;
    }

    .menu__nav {
        flex-direction: column;
        align-items: center;
    }

    .menu__card {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu__column {
        margin: 20px 0;
    }

    .menu__nav {
        gap: 10px;
    }

    /* Footer */

    .footer__container {
        font-size: 12px;
    }
}

@media(max-width:420px) {
    .service__header {
        font-size: 12px;
    }

    .restaurant__subtitle {
        font-size: 14px;
    }

    .system__item--title {
        font-size: 14px;
    }

    .system__item--description {
        font-size: 12px;
    }

    .learn__title {
        font-size: 15px;
    }

    .learn__description p {
        font-size: 12px;
    }

    .learn__container span {
        font-size: 12px;
    }

    .burger__images {
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }

    .features__title {
        font-size: 20px;
    }

    .management__description {
        font-size: 12px;
    }

    .management__item--title {
        font-size: 18px;
    }

    .management__item--text {
        font-size: 12px;
    }

    .customer__description {
        font-size: 12px;
    }

    .customer__item--title {
        font-size: 18px;
    }

    .customer__item--text {
        font-size: 12px;
    }

    .clients__item--description span {
        top: 75px;
    }

    .clients__title {
        font-size: 20px;
    }

    .clients__description {
        font-size: 10px;
    }

    .footer__container {
        flex-direction: column;
    }

}